
.left {
    padding: 40px;
    float: left;
    width: 50%; /* The width is 20%, by default */
  }

.right {
    padding: 40px;
    float: left;
    width: 50%; /* The width is 20%, by default */
  }


          
h1 {
            color: rgb(0, 0, 0);
            font-family: Georgia, serif;
            font-weight: bold;
}
h4 {
            color: white;
            font-family: Georgia, serif;
}
text-admin {
  color: white;
  font-family: Georgia, serif;
  font-weight: bold;
}
card-body{
            background-color: white;
}      

* {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 0 auto;
	margin: 0 auto;
}

.main-menu {
  background:#212121;
  border-right:1px solid #e5e5e5;
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  z-index:1000;
  }

.user .user-image{
    border-radius: 50px;
    width: 57px;
    height: 57px;
    object-fit: cover;
}
.user .user-details{
    margin-left: 5px;
}
.user .user-name{
    margin: 0;
	color: white;
}
       

